@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

:root {
  --bg-color: #8bc6ec;
  --white: #fff;
  --gray: #f4f4f4;
  --red: #e57878;
  --blue: #9599e2;
  --black: #303030;

  --font-title: 'Raleway', Helvetica, sans-serif;
  --font-body: 'Roboto', Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: var(--font-title);
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: #f4f4f4;
}

.container {
  padding: 1em;
}

.isCapitalize {
  text-transform: capitalize;
}
